@import url('https://v1.fontapi.ir/css/SFProDisplay');

body {
  margin: 0;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 32px;
  font-weight: 600;
}

*, *:before, *:after {
  box-sizing: border-box;
}